/* src/videoCard.css */
.video-card {
  width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.video-card__image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.video-card__title {
  color: #fff;
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
}

.video-card:hover {
  transform: scale(1.05);
}

/* src/videoRow.css */
.video-row-container {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.video-row {
  display: flex;
  overflow-x: scroll;
  padding: 0;
  scroll-behavior: smooth;
}

.video-row::-webkit-scrollbar {
  display: none;
}
